<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>TagerTest.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>XCodeSetting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>project2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9B70A9C11C84214A001DFF33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B70A9DA1C84214A001DFF33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B70A9E51C84214A001DFF33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B70AA271C84253A001DFF33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B70AA3F1C84253A001DFF33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B70AA4A1C84253A001DFF33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B70AA5E1C843BC0001DFF33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B70AA761C843BC0001DFF33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9B70AA811C843BC0001DFF33</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
